// Main colors for the web site
$primary-color: #252A2F;
$secondary-color: #FFFFFF;

// Main font family used across the website
$primary-font: 'PT Sans', sans-serif;

// Colors for JS, CSS and HTML workouts
$js-color: #C3A602;
$css-color: #1572B6;
$html-color: #E44D26;